/*.btn {
  font-size: 20px;
}

.test {
  color: blue;
}

.panel .no-border {
  border: 0;
}

.right-spacing {
  margin-right: 10px;
}

.top-buffer {
  margin-top: 10px;
}

.bottom-buffer-20 {
  margin-bottom: 20px;
}

.list-group-item.list-well {
  min-height: 20px;
  padding: 19px;
  background-color: #1c1e22;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.navbar-default .navbar-nav>li>a.connected {
  color: #00FF00;
}

.navbar-default .navbar-nav>li>a.not-connected {
  color: red;
}
*/
