<ion-view view-title="New Team" ng-show="isReady">
  <ion-content class="padding">
    <form name="newTeamForm" ng-submit="createTeam(newTeamForm.$valid, team)" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input
            type="text"
            class="form-control right-spacing"
            name="teamName"
            ng-model="team.name"
            ng-pattern="/^[\sa-zA-Z0-9]*$/"
            placeholder="Team Name"
            required />
        </label>
        <div ng-messages="newTeamForm.teamName.$error" ng-show="newTeamForm.teamName.$touched || showErrors">
          <p ng-message="pattern">Name contains an invalid character</p>
          <p ng-message="required">Please enter a Name</p>
        </div>
      </div>
      <input class="button button-balanced right-spacing" type="submit" value="Save" />
      <a class="button button-assertive" ng-click="cancelCreateTeam()">Cancel</a>
    </form>
  </ion-content>
</ion-view>
