<ion-view view-title="{{game.opponent}}">
  <ion-content class="padding" ng-controller="gamesController">
    <h3>{{game.opponent}} - {{game.date}}</h3>
    <div class="list list-inset">
      <div ng-repeat="player in game.inGamePlayers" class="item">
        <div class="pull-left">
          <span class="h3">{{player.name}}</span>
          <span style="margin-left: 20px;">p: {{player.totalPoints()}} | </span>
          <span>a: {{player.assists}} | </span>
          <span>r: {{player.rebounds}} | </span>
          <span>t: {{player.turnovers}} | </span>
          <span>f: {{player.fouls}}</span>
        </div>
        <div class="pull-right">
          <span>
            <a ng-click="showCorrectionPanel = !showCorrectionPanel">
              <span class="button button-balanced" ng-if="showCorrectionPanel">Hide Corrections</span>
              <span class="button button-assertive" ng-if="!showCorrectionPanel">Correction</span>
            </a>
          </span>
          <span>
            <a ng-click="moveToBench(game, player)" class="button button-positive right-spacing" href="">Bench</a>
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="top-buffer">
          <div ng-show="showCorrectionPanel">
            <a class="button button-assertive right-spacing" href="" ng-click="removeScore(game, player, 1)">-1</a>
            <a class="button button-assertive right-spacing" href="" ng-click="removeScore(game, player, 2)">-2</a>
            <a class="button button-assertive right-spacing" href="" ng-click="removeScore(game, player, 3)">-3</a>
            <a class="button button-assertive right-spacing" href="" ng-click="removeAssist(game, player)">-1 Ast</a>
            <a class="button button-assertive right-spacing" href="" ng-click="removeRebound(game, player)">-1 Reb</a>
            <a class="button button-assertive right-spacing" href="" ng-click="removeTurnover(game, player)">-1 Turnover</a>
            <a class="button button-assertive right-spacing" href="" ng-click="removeFoul(game, player)">-1 Foul</a>
          </div>
          <div ng-show="!showCorrectionPanel">
            <a class="button button-balanced right-spacing" href="" ng-click="addScore(game, player, 1)">+1</a>
            <a class="button button-balanced right-spacing" href="" ng-click="addScore(game, player, 2)">+2</a>
            <a class="button button-balanced right-spacing" href="" ng-click="addScore(game, player, 3)">+3</a>
            <a class="button button-balanced right-spacing" href="" ng-click="addAssist(game, player)">+1 Ast</a>
            <a class="button button-balanced right-spacing" href="" ng-click="addRebound(game, player)">+1 Reb</a>
            <a class="button button-balanced right-spacing" href="" ng-click="addTurnover(game, player)">+1 Turnover</a>
            <a class="button button-balanced right-spacing" href="" ng-click="addFoul(game, player)">+1 Foul</a>
          </div>
        </div>
      </div>
    </div>
    <div class="list list-inset">
      <div ng-repeat="player in game.benchPlayers" class="item">
        <div class="pull-left">
          <span class="h4">{{player.name}}</span>
          <span>p: {{player.totalPoints()}} | </span>
          <span>a: {{player.assists}} | </span>
          <span>r: {{player.rebounds}} | </span>
          <span>t: {{player.turnovers}} | </span>
          <span>f: {{player.fouls}}</span>
        </div>
        <div class="pull-right">
          <a ng-click="putInGame(game, player)" class="button button-positive" href="">Put in Game</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
