<ion-view view-title="New Game" ng-show="isReady">
  <ion-content class="padding">
    <form name="newGameForm" ng-submit="createGame(newGameForm.$valid, game)" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input
            type="text"
            class="form-control"
            name="gameOpponent"
            ng-model="game.opponent"
            ng-pattern="/^[\sa-zA-Z0-9]*$/"
            placeholder="Opponent"
            required />
        </label>
        <div ng-messages="newGameForm.gameOpponent.$error" ng-show="newGameForm.gameOpponent.$touched || showErrors">
          <p ng-message="pattern">Opponent contains an invalid character</p>
          <p ng-message="required">Please enter an Opponent</p>
        </div>
      </div>
      <ionic-datepicker input-obj="game.datePickerObject">
        <button class="button button-block button-light icon-left ion-calendar text-left">Game Date {{game.date}}</button>
      </ionic-datepicker>
      <div ng-show="showDatePickerErrors">
        <p>Please select a date</p>
      </div>
      <div class="list list-inset">
        <label class="item item-input item-select">
          <div class="input-label">
            Select Team
          </div>
          <select
            class="form-control"
            id="game-team"
            name="gameTeam"
            ng-model="game.teamId"
            placeholder="Team"
            ng-pattern="/^[\sa-zA-Z0-9]*$/"
            required >
            <option ng-repeat="team in teams" value="{{team.rowid}}">{{team.name}}</option>
          </select>
        </label>
        <div ng-messages="newGameForm.gameTeam.$error" ng-show="newGameForm.gameTeam.$touched || showErrors">
          <p ng-message="required">Please select a Team</p>
        </div>
      </div>
      <input class="button button-balanced right-spacing" type="submit" value="Save" />
      <a class="button button-assertive" ng-click="cancelCreateGame()">Cancel</a>
    </form>
  </ion-content>
</ion-view>
