<ion-view view-title="New Game">
  <ion-content class="padding" ng-controller="gamesController">
    <div class="row">
      <div class="col-sm-12">
        <form name="newGame" novalidate>
          <div class="form-group" ng-class="{ 'has-error': newGame.gameOpponent.$touched && newGame.gameOpponent.$invalid }">
            <input
              type="text"
              class="form-control"
              name="gameOpponent"
              ng-model="game.opponent"
              ng-pattern="/^[\sa-zA-Z0-9]*$/"
              placeholder="Opponent"
              required />
            <div ng-messages="newGame.gameOpponent.$error" ng-show="newGame.gameOpponent.$touched">
              <p ng-message="pattern">Opponent contains an invalid character</p>
              <p ng-message="required">Please enter an Opponent</p>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': newGame.gameDate.$touched && newGame.gameDate.$invalid }">
            <input
              type="text"
              class="form-control"
              id="game-date"
              name="gameDate"
              ng-model="game.date"
              placeholder="Date"
              required />
            <div ng-messages="newGame.gameDate.$error" ng-show="newGame.gameDate.$touched">
              <p ng-message="required">Please enter a Date</p>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': newGame.gameTeam.$touched && newGame.gameTeam.$invalid }">
            <select
              class="form-control"
              id="game-team"
              name="gameTeam"
              ng-model="game.teamKey"
              placeholder="Team"
              required >
              <option value="0" selected>Select Team</option>
              <option ng-repeat="team in teams" value="{{team.key}}">{{team.name}}</option>
            </select>
            <div ng-messages="newGame.gameTeam.$error" ng-show="newGame.gameTeam.$touched">
              <p ng-message="required">Please select a Team</p>
            </div>
          </div>
          <a href="" class="btn btn-success right-spacing" ng-click="createNewGame(game)">Create Game</a>
          <a href="" class="btn btn-danger" ng-click="cancelCreateGame()">Cancel</a>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>


<script type="text/javascript">
  // http://amsul.ca/pickadate.js/date/
  $('#game-date').pickadate({
    format: 'm/d/yyyy'
  });
</script>
