@import 'bootstrap_cyborg/variables';
@import 'bootstrap_cyborg/bootswatch';

.dark {
  color: #fff;

  h1, h2, h3, h4, h5, a, p {
    color: #fff;
  }

  .item {
    background-color: #222222;
    border: 1px solid #282828;
  }

  .item-divider {
    background-color: #222222;
    color: #fff;
    font-weight: 500;
  }

}
